<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!--   <script src="js/myfunctions.js"></script>-->
<!--    <script src="/js/register.js"></script>-->

      <style>
body {
  background-image: url('/media/bg.PNG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
</head>
<body>

<div class="row container ">
<form onsubmit="createAccount(event, this)" oninput='confirmPassword.setCustomValidity(confirmPassword.value !== password.value ? "Passwords do not match." : "")' action="passwordSubmit/" method="post" id="submitPassword">
    {% csrf_token %}
    <div class="  col-lg-6 card card-header mt-2 w-75 block-primary ">
        <div class= " card-body">
            <h1>Create a Password</h1>
            <div class="col-lg-6 mb-3">
               <label for="password1">Password:</label>
               <input id="password1" type="password"  minlength="8" class="form-control" required name="password">
                <label class="text-danger" id="password1Error"> </label>
            </div>
            <div class="col-lg-6 mb-3">
                <label for="confirmPassword">Confirm password:</label>
                <input id="confirmPassword" type="password" name="confirmPassword" class="form-control">
                <label class="text-danger" id="confirmPasswordError"> </label>
            </div>
            <div class="col-lg-6 mb-3">
                <input type=submit value="Create account" class="btn btn-outline-primary mb-3" id=btnPassword">
            </div>

            <div class="col-lg-8 mb-3">
                <div class="text-danger " id="errorPassword"></div>
            </div>


        </div>
    </div>
</form>
</div>

<script>
    function setErrorLabel(type, errorData) {
            document.getElementById(type + "Error").innerHTML = errorData
    }

    function createAccount(e, form) {
        debugger;
        e.preventDefault();

        var formData = new FormData(form);
        let firstName  = sessionStorage.getItem("firstName")
        let lastName  = sessionStorage.getItem("lastName")
        let email  = sessionStorage.getItem("email")
        //var firstName = user.firstName

        formData.append("firstName", firstName)
        formData.append("lastName", lastName)
        formData.append("email", email)

        var xhr = new XMLHttpRequest();
        xhr.onload = function (e) {
            if (this.readyState === 4) {
                debugger;
                let data = JSON.parse(e.target.responseText);

                if (data["context"]["user"] != undefined) {
                    sessionStorage.setItem("userName", data["context"]["user"])
                    window.location.href = data["url"]
                }
                else if(data["context"]["error"] != undefined)
                {
                    let error = data["context"]["error"]
                    setErrorLabel(error["type"], error["data"])
                }
            }
        }
        xhr.open("POST", form.action, true);
        xhr.send(formData);

      }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>