<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <style>
        body {
            background-image: url('/media/bg.PNG');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<div class="row container-fluid">
    <form onsubmit="registerSubmit(event, this)" method="post" action='registerSubmit/' id="my">
        {% csrf_token %}

        <div class="  col-lg-6 card card-header mt-2 w-50 block-primary">

            <h1>register</h1>

            <div class=" col-lg-6 mb-3">
                <label for="email" class="form-label">email</label>
                <input type="email" class="form-control" name="email" id="email" required/>
                <label class="text-danger" id="emailError"> </label>
            </div>

            <div class="col-lg-6 mb-3">
                <label for="text" class="form-label">FirstName</label>
                <input type="text" class="form-control" pattern="^[A-Za-z]+$" name="firstName"
                       id="firstName" required title="This field is required-no hebrew letters, spaces and numbers allowed"/>
                <label class="text-danger" id="firstNameError"> </label>
            </div>

            <div class="col-lg-6 mb-3">
                <label for="text" class="form-label">lastName</label>
                <input type="text" class="form-control" pattern="^[A-Za-z]+$" name="lastName" id="lastName"
                       required title="This field is required-no hebrew letters, spaces and numbers allowed"/>
                <label class="text-danger" id="lastNameError"> </label>
            </div>


            <div class="col-lg-3 mb-2">
                <input type="submit" value="next" class="btn btn-outline-primary mb-3" id="submitRegister">
            </div>

            <div class="col-lg-8 mb-3">
                <a href="/login"> <b>Have an account already? click here to log in</b></a>
            </div>
        </div>
    </form>
</div>


<script>
    function setErrorLabel(type, errorData) {
        document.getElementById(type + "Error").innerHTML = errorData
    }

    function registerSubmit(e, form) {
        e.preventDefault();

        const formData = new FormData(form);

        var xhr = new XMLHttpRequest();
        xhr.onload = function (e) {
            if (this.readyState === 4) {
                debugger;
                let data = JSON.parse(e.target.responseText);
                console.log("Server returned: ", JSON.parse(e.target.responseText));

                if (data["context"]["user"] != undefined) {
                    sessionStorage.setItem("firstName", data["context"]["user"].firstName)
                    sessionStorage.setItem("lastName", data["context"]["user"].lastName)
                    sessionStorage.setItem("email", data["context"]["user"].email)

                    window.location.href = data["url"]
                } else if (data["context"]["error"] != undefined) {
                    let error = data["context"]["error"]
                    setErrorLabel(error["type"], error["data"])
                }
            }
        }
        xhr.open("POST", form.action, true);
        xhr.send(formData);
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>